@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel

<div>
    <h1 class="display-4 font-weight-bold">Bookstore</h1>
</div>

@foreach (var x in Model.Products)
{
    <partial name="ProductSummary" model="x" />
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classses-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right"></div>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
