@{
    ViewData["Title"] = "Home Page";
}

@model ProductListViewModel

@foreach (var x in Model.Products)
{
    <partial name="ProductSummary" model="x" />
}




<div page-model="@Model.PagingInfo" page-action="Index" page-classses-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right"></div>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
